@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,500&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
header {
    width: 100%;
    height:auto;
    position: relative;
}
video{
    width: 100%
    
}

body {
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    color: #0d3f33;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;   
  }
     
  #divtodo{
    width: 900px;
    height: 600px;
    text-align: center;
    background: #5aac90;
    position: absolute;
    inset: 0;
    opacity: 0.7;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    }
    /*.*/

    .contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 60px;
    }
  h1{
    font-size:50px;
  }
  h3 {
    text-align: center;
    margin-top: 50px;
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #90afa6;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1c9a89;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  #grid {
    height: 10px;   
    font-weight: 300;
    font-size: large;
}

     
  button:active {
      transform: scale(0.95);
  }
     

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;

 }


.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #02ad82;
    color: #14213d;
    border: none;
    border-radius: 3px;
}


  .letter {
      border: 1px solid rgb(0, 57, 46);
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 30px;
  }
 